part2/Task1/TestData/books.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="urn:mentoring.advanced.xml.onlineLibrary"
           xmlns="urn:mentoring.advanced.xml.onlineLibrary"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name ="listBooks">
    <xs:sequence>
      <xs:element name="book" type="typeBook" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="catalog" type="listBooks">
    <xs:unique name="uuid" xmlns:x="urn:mentoring.advanced.xml.onlineLibrary">
      <xs:selector xpath="x:book" />
      <xs:field xpath="@id" />
    </xs:unique>
  </xs:element>

  <xs:simpleType name="typeGenre">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Computer" />
      <xs:enumeration value="Fantasy" />
      <xs:enumeration value="Romance" />
      <xs:enumeration value="Horror" />
      <xs:enumeration value="Science Fiction" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="uuidType">
    <xs:union memberTypes="xs:integer xs:ID"/>
  </xs:simpleType>

  <xs:simpleType name="non-empty-string">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:pattern value="^(?!\s*$).+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="isbnType">
    <xs:restriction base="xs:string">
      <xs:minLength value="13"/>
      <xs:pattern value="((1[03])*[ ]*(: ){0,1})*(([0-9Xx][- ]*){13}|([0-9Xx][- ]*){10})" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="typeBook">
    <xs:all>
      <xs:element minOccurs="0" name="isbn" type="isbnType" />
      <xs:element name="author" type="non-empty-string"/>
      <xs:element name="title" type="non-empty-string" />
      <xs:element name="genre" type="typeGenre" />
      <xs:element name="publisher" type="xs:string" />
      <xs:element name="publish_date" type="xs:date" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="registration_date" type="xs:date"/>
    </xs:all>
    <xs:attribute name="id" type="uuidType" use="required"/>
  </xs:complexType>

</xs:schema>